Lukee csv -tiedostot kansiosta c:\apu 

Vaatii SQL Server tietokannassa valmiina FinalProject nimisen tietokannan

Muokkaus tarpeen mukaan

HUOM! Vuodelta 2019 ei keskinopeusdataa -> 0

In [1]:
import pandas as pd

In [2]:
#luetaan 2019 data
df = pd.read_csv('C:\\apu\\liikennemaara_h_2019-01-01-2019-12-31_viikinmaki.csv',sep =';',encoding= 'utf-8',header = 0)
df

,pistetunnus,sijainti,pvm,suunta,suuntaselite,kaista,jaottelu,ajoneuvoluokka,00_01,01_02,...,15_16,16_17,17_18,18_19,19_20,20_21,21_22,22_23,23_24,yhteensa
0,154,vt4_Viikinmäki,20190101,1,Lahti,*,Ajoneuvoluokka,HA - PA,666,559,...,737,875,702,627,537,592,445,236,151,10356
1,154,vt4_Viikinmäki,20190101,2,Helsinki,*,Ajoneuvoluokka,HA - PA,253,277,...,941,949,877,827,697,525,368,253,161,10515
2,154,vt4_Viikinmäki,20190102,1,Lahti,*,Ajoneuvoluokka,HA - PA,113,66,...,2487,2250,1494,1152,835,723,574,422,192,18212
3,154,vt4_Viikinmäki,20190102,2,Helsinki,*,Ajoneuvoluokka,HA - PA,69,46,...,1174,1256,1075,893,769,659,425,254,170,20162
4,154,vt4_Viikinmäki,20190103,1,Lahti,*,Ajoneuvoluokka,HA - PA,130,118,...,2540,2491,1751,1191,945,879,836,434,174,20349
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
725,154,vt4_Viikinmäki,20191229,2,Helsinki,*,Ajoneuvoluokka,HA - PA,193,133,...,1573,1381,1156,1062,875,653,397,243,153,14185
726,154,vt4_Viikinmäki,20191230,1,Lahti,*,Ajoneuvoluokka,HA - PA,132,114,...,2350,1907,1308,1030,870,748,926,361,205,18336
727,154,vt4_Viikinmäki,20191230,2,Helsinki,*,Ajoneuvoluokka,HA - PA,105,72,...,1275,1282,1308,877,801,638,454,279,158,19650
728,154,vt4_Viikinmäki,20191231,1,Lahti,*,Ajoneuvoluokka,HA - PA,169,113,...,1711,1362,927,735,547,463,456,363,299,15126
729,154,vt4_Viikinmäki,20191231,2,Helsinki,*,Ajoneuvoluokka,HA - PA,118,53,...,1223,1134,940,797,620,554,473,614,699,17512

In [ ]:
#dataframen muokkaus

In [3]:
df = df.drop(['kaista','jaottelu','sijainti','ajoneuvoluokka'],axis=1)

In [4]:
columns = df.columns
tila = columns[0:4]
tila2 = columns[4:-1]

In [5]:
df_unpivot = pd.melt(df, id_vars=tila, value_vars=tila2)

In [6]:
df_unpivot.rename(columns = {'value':'Määrä'},inplace=True)
df_unpivot.rename(columns = {'variable':'klo'},inplace=True)

In [7]:
df_unpivot[['klo', 'poisto']] = df_unpivot['klo'].str.split('_', n=1, expand=True)
df = df_unpivot.drop(['poisto'],axis =1)

In [8]:
#lisätään sarake keskinopeus ja muutetaan järjestystä
df['keskinopeus'] = 0
df.rename(columns = {'pistetunnus':'sijainti'},inplace=True)
df19 = df[['sijainti','pvm', 'klo','suunta','suuntaselite', 'Määrä','keskinopeus']]
df19

       sijainti       pvm klo  suunta suuntaselite  Määrä  keskinopeus
0           154  20190101  00       1        Lahti    666            0
1           154  20190101  00       2     Helsinki    253            0
2           154  20190102  00       1        Lahti    113            0
3           154  20190102  00       2     Helsinki     69            0
4           154  20190103  00       1        Lahti    130            0
...         ...       ...  ..     ...          ...    ...          ...
17515       154  20191229  23       2     Helsinki    153            0
17516       154  20191230  23       1        Lahti    205            0
17517       154  20191230  23       2     Helsinki    158            0
17518       154  20191231  23       1        Lahti    299            0
17519       154  20191231  23       2     Helsinki    699            0

[17520 rows x 7 columns]

In [9]:
#luetaan 2020-23 data
df4 = pd.read_csv('C:\\apu\\keskinopeus_h_2020-01-01-2023-03-31_viikinmaki.csv', sep=';')
df4

,pistetunnus,sijainti,pvm,klo,suunta,suuntaselite,nopeusrajoitus,kaikki,kevyet,raskaat,keskinopeus_kaikki,keskinopeus_kevyet,keskinopeus_raskaat
0,154,vt4_Viikinmäki,20200101,0,1,Lahti,100/100,762,736,26.0,88.3,88.4,85.5
1,154,vt4_Viikinmäki,20200101,0,2,Helsinki,100/100,323,296,27.0,91.6,92.7,79.6
2,154,vt4_Viikinmäki,20200101,1,1,Lahti,100/100,664,629,35.0,86.6,86.8,82.7
3,154,vt4_Viikinmäki,20200101,1,2,Helsinki,100/100,363,337,26.0,91.2,92.1,79.3
4,154,vt4_Viikinmäki,20200101,2,1,Lahti,100/100,412,382,30.0,87.9,88.2,83.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56369,154,vt4_Viikinmäki,20230331,21,2,Helsinki,100/100,590,556,34.0,93.4,93.9,84.2
56370,154,vt4_Viikinmäki,20230331,22,1,Lahti,100/100,724,682,42.0,96.8,97.5,85.5
56371,154,vt4_Viikinmäki,20230331,22,2,Helsinki,100/100,457,431,26.0,93.6,94.2,83.8
56372,154,vt4_Viikinmäki,20230331,23,1,Lahti,100/100,504,472,32.0,95.4,96.0,86.7
56373,154,vt4_Viikinmäki,20230331,23,2,Helsinki,100/100,282,248,34.0,92.6,93.7,84.6

In [10]:
#Muokataan dataframea
df20_23 = df4.drop(['sijainti','nopeusrajoitus','kaikki', 'raskaat','kaikki','keskinopeus_kaikki','keskinopeus_raskaat'], axis=1)
df20_23.rename(columns = {'pistetunnus':'sijainti'},inplace=True)
df20_23.rename(columns = {'kevyet':'Määrä'},inplace=True)
df20_23.rename(columns = {'keskinopeus_kevyet':'keskinopeus'},inplace=True)
df20_23

       sijainti       pvm  klo  suunta suuntaselite  Määrä  keskinopeus
0           154  20200101    0       1        Lahti    736         88.4
1           154  20200101    0       2     Helsinki    296         92.7
2           154  20200101    1       1        Lahti    629         86.8
3           154  20200101    1       2     Helsinki    337         92.1
4           154  20200101    2       1        Lahti    382         88.2
...         ...       ...  ...     ...          ...    ...          ...
56369       154  20230331   21       2     Helsinki    556         93.9
56370       154  20230331   22       1        Lahti    682         97.5
56371       154  20230331   22       2     Helsinki    431         94.2
56372       154  20230331   23       1        Lahti    472         96.0
56373       154  20230331   23       2     Helsinki    248         93.7

[56374 rows x 7 columns]

In [11]:
#Yhdistetään 2019 ja 20_23 
dfLiikenne = pd.concat([df19, df20_23], ignore_index=True)
dfLiikenne

       sijainti       pvm klo  suunta suuntaselite  Määrä  keskinopeus
0           154  20190101  00       1        Lahti    666          0.0
1           154  20190101  00       2     Helsinki    253          0.0
2           154  20190102  00       1        Lahti    113          0.0
3           154  20190102  00       2     Helsinki     69          0.0
4           154  20190103  00       1        Lahti    130          0.0
...         ...       ...  ..     ...          ...    ...          ...
73889       154  20230331  21       2     Helsinki    556         93.9
73890       154  20230331  22       1        Lahti    682         97.5
73891       154  20230331  22       2     Helsinki    431         94.2
73892       154  20230331  23       1        Lahti    472         96.0
73893       154  20230331  23       2     Helsinki    248         93.7

[73894 rows x 7 columns]

In [12]:
#tallennus csv -tiedostoon
dfLiikenne.to_csv('Liikennemaarat_nopeudet_2019_23.csv')

In [ ]:
import pyodbc

server = 'localhost'
database = 'FinalProject'
username = 'sa'
password = 'Password1'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)


cnxn.execute("Create table FactLiikenne (Liikenne_id int IDENTITY(1,1) Primary Key, sijainti varchar(50), pvm int, klo int, suunta int, suuntaselite varchar(20), maara int, keskinopeus float)") 
cnxn.commit()
cnxn.close()

In [14]:
import pyodbc
server = 'localhost'
database = 'FinalProject'
username = 'sa'
password = 'Password1'
cnxn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

d = pd.DataFrame(dfLiikenne)

for index, row in d.iterrows():
    cursor.execute("INSERT INTO FactLiikenne values (?,?,?,?,?,?,?)",row['sijainti'],row['pvm'],row['klo'],row['suunta'],row['suuntaselite'],row['Määrä'],row['keskinopeus']) 
cnxn.commit()
cnxn.close()